[Unit]
Description=Consensus Node (cli-runner)

[Service]
WorkingDirectory=/var/lib/swift
ExecStart=/usr/lib/swift/cli-runner --rpc

[Install]
WantedBy=multi-user.target
